* {
  box-sizing: border-box;
}
li,
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  border-style: none;
  cursor: pointer;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  background: #4e75ff;
  color: #fff;
  border-radius: 8px;
}
body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item h2 {
  margin-top: 0;
  margin-bottom: 16px;
}
.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item ul li {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.item {
  background: #f6f6fe;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
  max-width: 392px;
  margin-bottom: 24px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1128px;
  row-gap: 48px;
  column-gap: 24px;
}
.gallery-list-item {
  width: 360px;
  height: 300px;
}
.gallery-list-item-img {
  width: 100%;
  height: 100%;
}
#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 0px 8px 16px;
}
#name-input::placeholder {
  color: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
}
.login-form,
.login-form label {
  display: flex;
  flex-direction: column;
}
.login-form label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.login-form label input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-top: 8px;
}
.login-form label:first-child {
  margin-bottom: 8px;
}
.login-form {
  max-width: 360px;
}
.login-form button {
  width: 86px;
  height: 40px;
  margin-top: 16px;
  transition: 1s;
}

.change-color {
  font-weight: 500;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  transition: 1s;
}
.change-color:hover,
.login-form button:hover {
  background: #6c8cff;
}
#controls {
  background: #f6f6fe;
  border-radius: 8px;
  padding: 32px;
  max-width: 486px;
  height: 104px;
}
#controls button:first-of-type:hover {
  background: #6c8cff;
}
#controls button {
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  transition: 1s;
}
#controls button:last-of-type {
  background: #ff4e4e;
}
#controls button:last-of-type:hover {
  background: #ff7070;
}
#controls input {
  border: 1px solid #808080;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  text-align: center;
}
#boxes {
  border-radius: 8px;
  padding: 32px;
  background: #f6f6fe;
  margin-top: 16px;
  max-width: 486px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
